Author: Jared
Maintainer: TheBigCheese2017
Name: Windows Respring Logo
Package: com.osito.winrespringlogo
Depends: mobilesubstrate (>= 0.9.5000), winterboard
Section: Themes (Respring Logos)
Version: 1.0
Architecture: iphoneos-arm
Description: Awesome sauce





