Author: Osito
Maintainer: TheBigCheese2017
Name: Status Bar Bundle
Package: com.osito.statusbarbundle
Depends: firmware (>= 9.0), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.2), applist, com.phoenix.bars, info.rpdev.dateinstatusbar, com.fortysixandtwo.alkaline, com.osito.kitkatbattery, com.alexzielenski.zeppelin 
Section: Tweaks
Version: 1.0
Architecture: iphoneos-arm
Description: A compilation of some must have status bar mods
